// Color
$primary     : blue;
$red              : red;
$blue             : blue;
$green            : green;
$yellow           : yellow;
$select           : blue;
$placehoder       : blue;
$seprator         : gray;

// back&white
$gray-light        : #c9c8c8;
$gray             : #838282;
$darkGray         : #333333;
$black            : #323b43;

$body-bg        : #f4f7f9;

// Font color
$headingColor     : #323b43;
$linkColor        : #168eea;
$placeholder      : #838282;
$color            : #59626a;

// Border
$borderColor      : #ced7df;

// Social Color
$facebook         : #3b5998;
$twitter          : #55acee;
$google           : #EA4335;
$google-blue: #4285F4;
$linkedin         : #007bb6;
$instagram        : #3f729b;

//Validation
$errorColor       : #ee4f4f;
$warningColor     : #fff9ea;
$successColor     : #76b852;
